html, body, .pushable, .pusher{
	background: black !important;
}
body{
	overflow:hidden;

}
#logo-superior{
	height:37px;
	margin-top: 5px;
	margin-left: 5px;
}
#logo-menu-lateral{
	margin-top:10px;
	margin-left: 54px;
}
.content-margin-top{
	margin-top: 60px; 
	overflow: scroll;
	padding-bottom: 40px !important; 
	
}
.margin-esquerda{
	margin-left: 10px;
}
.content-margin-lateral{	
	margin: 0 5px 5px 0 !important; 
}
#busca{
	width: 50%;
}
.texto-branco{
	color: white !important;
}
.img-home{
	heigth:100%;
	max-width:100%;
	min-width:100%;
	margin-bottom:5px;
}
#login-admin{
	height:100%;
}
#login-corpo{
	max-width:400px;
}
.lista-categorias{
	font-size: 1.3em !important;
}

#aprovar-meme{
	margin-top: 19px !important;
}
#motivo-reprovacao{
	padding-bottom:15px;
}
.img-meme{
	max-height:70vh;
	max-width:60vw;
	margin-bottom:10px;
	
}
.invisivel{
	display: none;
}


@media screen and (max-width: 500px){
	.mobile-invisivel {
		display: none !important;	
	}
	.mobile-visivel {
		display: block !important;	
	}
	#busca{
		width: 55%;
	}
}
